openapi: 3.0.3
info:
  title: AgentWeb API
  description: >
    AgentWeb is an Internet Intelligence Platform. This spec covers the core
    outcome-first endpoints (/solve, /observe) and low-level primitives
    (/search, /crawl, /browser, /extract, /memory, /graph). See docs/api for
    prose documentation.
  version: "1.0.0"
servers:
  - url: https://api.agentweb.dev/v1
security:
  - bearerAuth: []
paths:
  /health:
    get:
      summary: Check local API liveness
      operationId: health
      responses:
        '200':
          description: Service is healthy
  /report/{execution_id}:
    get:
      summary: Retrieve a secret-safe execution trace
      operationId: getReport
      parameters:
        - name: execution_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Execution trace
        '404':
          $ref: '#/components/responses/BadRequest'
  /memory/{target}:
    get:
      summary: List immutable snapshots for a target
      operationId: getMemory
      parameters:
        - name: target
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Snapshot history
  /memory/{target}/diff:
    get:
      summary: Compare two snapshots for a target
      operationId: getMemoryDiff
      parameters:
        - name: target
          in: path
          required: true
          schema:
            type: string
        - name: from
          in: query
          required: true
          schema:
            type: string
        - name: to
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Snapshot diff
        '404':
          $ref: '#/components/responses/BadRequest'
  /solve:
    post:
      summary: Run a one-shot grounded research/synthesis task
      operationId: solve
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolveRequest'
      responses:
        '200':
          description: Grounded, cited result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolveResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /observe:
    post:
      summary: Create a recurring monitor
      operationId: observe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObserveRequest'
      responses:
        '200':
          description: Monitor created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
  /observe/{id}:
    get:
      summary: Get monitor status/history
      operationId: getMonitor
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Monitor status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
    delete:
      summary: Cancel a monitor
      operationId: cancelMonitor
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Monitor cancelled
  /search:
    post:
      summary: Low-level search primitive
      operationId: search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query:
                  type: string
                limit:
                  type: integer
                  default: 10
      responses:
        '200':
          description: Search results
  /crawl:
    post:
      summary: Traverse same-origin pages with bounded breadth-first crawling
      operationId: crawl
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [start_url]
              properties:
                start_url:
                  type: string
                  format: uri
                max_pages:
                  type: integer
                  default: 50
                  maximum: 50
                depth:
                  type: integer
                  default: 2
                  maximum: 10
                url_pattern:
                  type: string
      responses:
        '200':
          description: Crawled pages and truncation state
        '400':
          $ref: '#/components/responses/BadRequest'
  /browser/sessions:
    post:
      summary: Render a page and execute bounded browser actions
      operationId: browserOpen
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserRequest'
      responses:
        '200':
          description: Rendered browser session, including partial results on action failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          description: Browser runtime unavailable
  /extract:
    post:
      summary: Structured extraction from a page
      operationId: extract
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                schema:
                  type: object
      responses:
        '200':
          description: Extracted structured data
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing/invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: API key does not have the required scope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Mode:
      type: string
      enum: [flash, focus, dive, monitor]
    BrowserRequest:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
        actions:
          type: array
          maxItems: 20
          items:
            type: object
            required: [type]
            properties:
              type:
                type: string
                enum: [click, type, wait_for, scroll, extract]
              selector:
                type: string
              text:
                type: string
              attribute:
                type: string
              state:
                type: string
                enum: [attached, detached, visible, hidden]
              amount:
                type: integer
    BrowserSession:
      type: object
      properties:
        session_id:
          type: string
        url:
          type: string
        status:
          type: string
          enum: [complete, partial]
        actions:
          type: array
          items:
            type: object
        extracted:
          type: array
          items:
            type: object
        title:
          type: string
        text:
          type: string
        html:
          type: string
        warnings:
          type: array
          items:
            type: string
        error:
          type: string
    SolveRequest:
      type: object
      required: [task]
      properties:
        task:
          type: string
        mode:
          $ref: '#/components/schemas/Mode'
        skill:
          type: string
        inputs:
          type: object
        webhook_url:
          type: string
        idempotency_key:
          type: string
    Source:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
        title:
          type: string
        snippet:
          type: string
        trust_score:
          type: number
        cited:
          type: boolean
    Citation:
      type: object
      properties:
        claim_span:
          type: array
          items:
            type: integer
        source_ids:
          type: array
          items:
            type: string
    SolveResponse:
      type: object
      properties:
        execution_id:
          type: string
        mode:
          $ref: '#/components/schemas/Mode'
        answer:
          type: string
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        insufficient_evidence:
          type: boolean
        citations:
          type: array
          items:
            $ref: '#/components/schemas/Citation'
        created_at:
          type: string
          format: date-time
    ObserveRequest:
      type: object
      required: [task]
      properties:
        task:
          type: string
        webhook_url:
          type: string
        frequency:
          type: string
          enum: [minutely, hourly, daily]
    Monitor:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum: [active, paused, cancelled]
        last_checked_at:
          type: string
          format: date-time
        last_change_at:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            type:
              type: string
            message:
              type: string
            request_id:
              type: string
