openapi: 3.0.3
info:
  title: AgentWeb API
  description: >
    AgentWeb is an Internet Intelligence Platform. This spec covers the core
    outcome-first endpoints (/solve, /observe) and low-level primitives
    (/search, /crawl, /browser, /extract, /memory, /graph). See docs/api for
    prose documentation.
  version: "1.0.0"
servers:
  - url: https://api.agentweb.dev/v1
security:
  - bearerAuth: []
paths:
  /health:
    get:
      summary: Check local API liveness
      operationId: health
      responses:
        '200':
          description: Service is healthy
  /report/{execution_id}:
    get:
      summary: Retrieve a secret-safe execution trace
      operationId: getReport
      parameters:
        - name: execution_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Execution trace
        '404':
          $ref: '#/components/responses/BadRequest'
  /memory/{target}:
    get:
      summary: List immutable snapshots for a target
      operationId: getMemory
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
        - name: target
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Snapshot history
  /memory/{target}/diff:
    get:
      summary: Compare two snapshots for a target
      operationId: getMemoryDiff
      parameters:
        - name: target
          in: path
          required: true
          schema:
            type: string
        - name: from
          in: query
          required: true
          schema:
            type: string
        - name: to
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Snapshot diff
        '404':
          $ref: '#/components/responses/BadRequest'
  /solve:
    post:
      summary: Run a one-shot grounded research/synthesis task
      operationId: solve
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolveRequest'
      responses:
        '200':
          description: Grounded, cited result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SolveResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /observe:
    get:
      summary: List monitors for the authenticated organization
      operationId: listMonitors
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Cursor-paginated organization monitors
    post:
      summary: Create a recurring monitor
      operationId: observe
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObserveRequest'
      responses:
        '200':
          description: Monitor created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
  /observe/{id}:
    get:
      summary: Get monitor status/history
      operationId: getMonitor
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Monitor status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
    delete:
      summary: Cancel a monitor
      operationId: cancelMonitor
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Monitor cancelled
  /search:
    post:
      summary: Low-level search primitive
      operationId: search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query:
                  type: string
                limit:
                  type: integer
                  default: 10
                  maximum: 50
                freshness:
                  type: string
                  enum: [day, week, month, year, any]
      responses:
        '200':
          description: Provider-backed search results with local fallback
  /crawl:
    post:
      summary: Traverse same-origin pages with bounded breadth-first crawling
      operationId: crawl
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [start_url]
              properties:
                start_url:
                  type: string
                  format: uri
                max_pages:
                  type: integer
                  default: 50
                  maximum: 50
                depth:
                  type: integer
                  default: 2
                  maximum: 10
                url_pattern:
                  type: string
      responses:
        '200':
          description: Crawled pages and truncation state
        '400':
          $ref: '#/components/responses/BadRequest'
  /browser/sessions:
    post:
      summary: Render a page and execute bounded browser actions
      operationId: browserOpen
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserRequest'
      responses:
        '200':
          description: Rendered browser session, including partial results on action failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          description: Browser runtime unavailable
  /admin/keys:
    get:
      summary: List redacted API keys for the authenticated organization
      operationId: listApiKeys
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Redacted organization API keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKey'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      summary: Create a scoped API key for the authenticated organization
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      operationId: createApiKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scopes]
              properties:
                scopes:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: API key secret, returned only at creation time
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCreated'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/keys/{id}:
    delete:
      summary: Revoke an API key owned by the authenticated organization
      operationId: revokeApiKey
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: API key revoked
        '404':
          $ref: '#/components/responses/BadRequest'
  /admin/audit:
    get:
      summary: Read immutable security audit events for the organization
      operationId: listAuditEvents
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Organization audit events
  /admin/usage:
    get:
      summary: Read current-period usage and estimated cost for the organization
      operationId: getUsage
      parameters:
        - name: period
          in: query
          required: false
          schema:
            type: string
            pattern: '^\\d{4}-\\d{2}$'
      responses:
        '200':
          description: Usage summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageSummary'
  /admin/metrics:
    get:
      summary: Read organization-scoped operational metrics
      operationId: getMetrics
      responses:
        '200':
          description: Organization-filtered counters, observations, and gauges
          content:
            application/json:
              schema:
                type: object
                required: [counters, observations, gauges, captured_at]
                properties:
                  counters:
                    type: object
                  observations:
                    type: object
                  gauges:
                    type: object
                  captured_at:
                    type: number
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/data:
    delete:
      summary: Delete organization-owned snapshots and execution traces
      operationId: deleteOrganizationData
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                kind:
                  type: string
                  enum: [snapshots, traces, all]
                  default: snapshots
                target:
                  type: string
                execution_id:
                  type: string
      responses:
        '200':
          description: Deletion counts for the authenticated organization
          content:
            application/json:
              schema:
                type: object
                required: [org_id, kind, deleted_snapshots, deleted_traces]
                properties:
                  org_id:
                    type: string
                  kind:
                    type: string
                  deleted_snapshots:
                    type: integer
                  deleted_traces:
                    type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /extract:
    post:
      summary: Structured extraction from a page
      operationId: extract
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                schema:
                  type: object
      responses:
        '200':
          description: Extracted structured data with confidence metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractResponse'
components:
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema:
        type: string
        minLength: 1
        maxLength: 128
    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 50

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing/invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: API key does not have the required scope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Mode:
      type: string
      enum: [flash, focus, dive, monitor]
    UsageSummary:
      type: object
      required: [period, requests_by_mode, estimated_cost]
      properties:
        period:
          type: string
        requests_by_mode:
          type: object
          additionalProperties:
            type: integer
        estimated_cost:
          type: number
    ExtractResponse:
      type: object
      required: [url, status, text, links, tables, entities, source_spans, field_confidence, confidence, confidence_reasons]
      properties:
        url:
          type: string
        status:
          type: integer
        title:
          type: string
        description:
          type: string
        text:
          type: string
        links:
          type: array
          items:
            type: string
        tables:
          type: array
          items:
            type: array
            items:
              type: array
              items:
                type: string
        entities:
          type: array
          items:
            type: string
        source_spans:
          type: array
          items:
            type: object
            required: [field, source, span, value]
            properties:
              field:
                type: string
              source:
                type: string
              span:
                type: array
                minItems: 2
                maxItems: 2
                items:
                  type: integer
              value:
                type: string
        parse_warnings:
          type: array
          items:
            type: string
        field_confidence:
          type: object
          additionalProperties:
            type: number
            minimum: 0
            maximum: 1
        confidence_reasons:
          type: array
          items:
            type: string
        confidence:
          type: number
          minimum: 0
          maximum: 1
        data:
          type: object
    ApiKey:
      type: object
      properties:
        id:
          type: string
        org_id:
          type: string
        scopes:
          type: array
          items:
            type: string
        prefix:
          type: string
        created_at:
          type: number
        revoked_at:
          type: number
          nullable: true
    ApiKeyCreated:
      allOf:
        - $ref: '#/components/schemas/ApiKey'
        - type: object
          required: [secret]
          properties:
            secret:
              type: string
              description: Plaintext secret returned only once at creation.
    BrowserRequest:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
        actions:
          type: array
          maxItems: 20
          items:
            type: object
            required: [type]
            properties:
              type:
                type: string
                enum: [click, type, wait_for, scroll, extract]
              selector:
                type: string
              text:
                type: string
              attribute:
                type: string
              state:
                type: string
                enum: [attached, detached, visible, hidden]
              amount:
                type: integer
    BrowserSession:
      type: object
      required: [session_id, url, status, actions, extracted, title, text, html, warnings]
      properties:
        session_id:
          type: string
        url:
          type: string
        status:
          type: string
          enum: [complete, partial]
        actions:
          type: array
          items:
            type: object
        extracted:
          type: array
          items:
            type: object
        title:
          type: string
        text:
          type: string
        html:
          type: string
        warnings:
          type: array
          items:
            type: string
        error:
          type: string
          nullable: true
    SolveRequest:
      type: object
      required: [task]
      properties:
        task:
          type: string
        mode:
          $ref: '#/components/schemas/Mode'
        skill:
          type: string
        inputs:
          type: object
        webhook_url:
          type: string
        idempotency_key:
          type: string
        output_format:
          type: string
          enum: [text, comparison, timeline, json]
          default: text
    Source:
      type: object
      required: [id, url, title, snippet, trust_score, cited]
      properties:
        id:
          type: string
        url:
          type: string
        title:
          type: string
        snippet:
          type: string
        trust_score:
          type: number
        cited:
          type: boolean
        published_at:
          type: string
          format: date-time
          nullable: true
        content_type:
          type: string
          nullable: true
        extraction_confidence:
          type: number
          minimum: 0
          maximum: 1
          nullable: true
    Citation:
      type: object
      required: [claim_span, source_ids]
      properties:
        claim_span:
          type: array
          items:
            type: integer
        source_ids:
          type: array
          items:
            type: string
    SolveResponse:
      type: object
      required: [execution_id, mode, answer, sources, citations, created_at, insufficient_evidence, output_format, evidence_score, conflicts, structured_output]
      properties:
        execution_id:
          type: string
        mode:
          $ref: '#/components/schemas/Mode'
        answer:
          type: string
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Source'
        insufficient_evidence:
          type: boolean
        citations:
          type: array
          items:
            $ref: '#/components/schemas/Citation'
        created_at:
          type: string
          format: date-time
        output_format:
          type: string
          enum: [text, comparison, timeline, json]
        evidence_score:
          type: number
          minimum: 0
          maximum: 1
        conflicts:
          type: array
          items:
            type: object
        structured_output:
          type: object
    ObserveRequest:
      type: object
      required: [task]
      properties:
        task:
          type: string
        webhook_url:
          type: string
        frequency:
          type: string
          enum: [minutely, hourly, daily]
        idempotency_key:
          type: string
          minLength: 1
          maxLength: 128
    Monitor:
      type: object
      required: [id, org_id, task, status, frequency, last_delivery_attempts]
      properties:
        id:
          type: string
        org_id:
          type: string
        task:
          type: string
        frequency:
          type: string
          enum: [minutely, hourly, daily]
        status:
          type: string
          enum: [active, paused, cancelled]
        target_url:
          type: string
          nullable: true
        webhook_url:
          type: string
          nullable: true
        last_checked_at:
          type: string
          format: date-time
          nullable: true
        last_change_at:
          type: string
          format: date-time
          nullable: true
        last_delivery_id:
          type: string
          nullable: true
        last_delivery_status:
          type: string
          nullable: true
          enum: [pending, retrying, rate_limited, delivered, dead_letter, blocked]
        last_delivery_attempts:
          type: integer
          minimum: 0
          maximum: 5
        last_delivery_error:
          type: string
          nullable: true
    WebhookDelivery:
      type: object
      properties:
        job_id:
          type: string
        job_type:
          type: string
          enum: [webhook_delivery]
        monitor_id:
          type: string
        status:
          type: string
          enum: [pending, retrying, rate_limited, delivered, dead_letter]
        attempts:
          type: integer
          minimum: 0
          maximum: 5
        last_status_code:
          type: integer
          nullable: true
        last_error:
          type: string
          nullable: true
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            type:
              type: string
            message:
              type: string
            request_id:
              type: string
